flask
flask-cors
pydantic
python-dotenv
langchain
langchain-core
langchain-groq
langchain-community
langchain-google-community
langgraph
requests
together
psycopg2
typing
sqlalchemy
langchain-google-community[places]